body {
  /* 요소에 최대 길이를 주고, margin:0 auto를 주면,
  maring 좌우가 auto로 적용되며
  가운데 정렬이 된다.
   */
  max-width: 1228px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 700px) {
  body {
    text-align: center;
  }
}

/*--- nav ---*/
.topbar {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
}

.topbar-right {
  display: flex;
  justify-content: flex-end;
}

.topbar-hambuger {
  display: none;
}

.topbar-hambuger .black-button {
  height: 45px;
  width: 60px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .topbar-right {
    display: none;
  }
  .topbar-hambuger {
    display: block;
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
  gap: 10%;
  margin: 1em 0.3em 1em 3em;
}
.nav-menu a {
  color: rgb(29, 30, 28);
  font-size: 14px;
  margin: 0 0.4em;
  text-decoration: none;
}
.nav-menu button {
  width: 85px;
  height: 45px;
  cursor: pointer;
}

.white-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: rgb(237, 237, 237);
  }
}
.black-button {
  border: 1px solid rgb(29, 30, 28);
  background-color: rgb(29, 30, 28);
  color: rgb(255, 255, 255);
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-color: rgb(74, 74, 68);
  }
}

section {
  text-align: center;
}

.small-title {
  font-size: 12px;
  color: rgb(29, 30, 28);
  font-weight: 100;
}

.content-title {
  font-weight: bold;
  font-size: 48px;
}

.button-img {
  /* Rectangle 1 */
  position: static;
  width: 180px;
  height: 58px;
  /* Inside Auto Layout */
  margin: 0px 16px;
  border-radius: 48px;
  vertical-align: middle;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.content {
  font-size: 14px;
}

/*----- header -----*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 112px 0;
}
.header-content {
  display: flex;
  flex-direction: column;
}
.header-title {
  font-size: 6vw;
  font-weight: bold;
  width: 100%;
}
.TextRoundImg {
  position: absolute;
  z-index: -2;
  width: 22%;
}
.header-text {
  width: 35vw;
  font-weight: 400;
  font-size: 14px;
  margin-top: 32px;
}

header .black-button {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 143px;
  height: 45px;
  font-size: 14px;
  font-weight: 100;
}
.side-img {
  width: 50%;
  min-width: 320px;
}
@media (max-width: 700px) {
  header {
    justify-content: center;
    margin-top: 64px;
  }
  .header-content {
    align-items: center;
  }
  .header-title {
    font-size: 48px;
  }
  .header-text {
    width: 350px;
  }
  .round-text {
    display: inline;
  }
  .TextRoundImg {
    width: 162px;
  }
}

/*----- social proof section -----*/
.social-proof {
  margin: 80px 0;
}

.social-proof .small-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.social-proof li {
  list-style-type: none;
}

.logo-img {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.logo-img li {
  margin: auto;
  text-align: center;
}

/*----- features section -----*/
.features {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 112px 0;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages img {
  size: 48px;
}

.adv-itemes div {
  margin-bottom: 20px;
}

.adv-itemes {
  width: 30%;
}

@media (max-width: 768px) {
  .features .content-title {
    font-size: 24px;
  }

  .adv-itemes {
    width: 100vw;
  }
}

/*------ virtual section -----*/

.virtualtour {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 80px;
  margin: 112px 0;
  text-align: center;
}

.virtual-content {
  margin: auto;
  height: auto;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.viewvideo iframe {
  width: 80%; /* body 태그의 너비와 동일하게 설정합니다. */
  height: 550px; /* 비디오의 세로 비율을 유지합니다. */
  border-radius: 20px;
}

.virtualtour .white-button {
  width: 140px;
  height: 45px;
  margin: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .virtualtour .content-title {
    font-size: 48px;
  }

  .virtual-content {
    text-align: center;
  }

  .viewvideo iframe {
    width: 80vw;
    height: auto;
  }
}

/*----- testimonial section -----*/
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px;
  margin: 112px 0;
}

.testimonial .testi-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-board article:nth-child(2) {
  margin-top: -10px; /* 두 번째 자식 요소를 위로 10px 이동시킵니다. */
}

.post-board article:nth-child(3) {
  margin-top: 20px;
}

.post-board article:nth-child(4) {
  margin-left: -20px; /* 네 번째 자식 요소를 오른쪽으로 20px 이동시킵니다. */
}

.post-board article:nth-child(5) {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .post-board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
  }
  .post-board article:nth-child(2) {
    margin-top: 0;
  }
  .post-board article:nth-child(3) {
    margin-top: 0;
  }
  .post-board article:nth-child(4) {
    margin-left: 0;
  }
  .post-board article:nth-child(5) {
    margin-top: 0;
  }
}
.postit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 296px;
  height: 249px;
  padding: 32px;
  border-radius: 24px;
}

.postit img {
  width: 56px;
}

/*------ statics -----*/
.statics,
.faq {
  margin: 112px 0;
}
.statics-main,
.faq-main {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}
.statics-main .title,
.faq-main .title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}
@media (max-width: 800px) {
  .small-title {
    text-align: center;
  }
  .statics-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .statics-main .title {
    font-size: 24px;
    text-align: center;
  }
}
.feature-box {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
.feature-box li {
  width: 200px;
}
.feature-box li img {
  position: absolute;
  z-index: -1;
  margin-top: 30px;
  margin-left: 25px;
}
#pink-dot {
  margin-left: 2px;
}
.feature-explain {
  font-size: 14px;
  font-weight: 400;
}
.media-display {
  display: none;
}
@media (max-width: 800px) {
  .feature-box {
    justify-content: center;
    text-align: center;
  }
  .feature-box .title {
    font-size: 48px;
    text-align: left;
    margin-left: 40px;
  }
  #lime-dot {
    margin-left: 0;
    margin-top: 40px;
  }
  .media-display {
    display: inline;
  }
  .statics .side-img {
    margin-top: 40px;
  }
}

/*------ faq -----*/
.faq-main .title {
  width: 90%;
}
.faq-main .detail {
  color: rgb(29, 30, 28);
  margin-top: 30px;
  width: 70%;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}
.faq-question-text {
  color: rgb(29, 30, 28);
  font-size: 14px;
  font-weight: 100;
}
.faq-line {
  text-align: left;
  margin: 20px 0;
  width: 136px;
}
.faq .arrow-button {
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.faq .arrow-button img {
  margin-left: 2px;
  margin-top: 1px;
}
@media (max-width: 850px) {
  .faq .small-title {
    text-align: center;
  }
  .faq-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .faq-main .title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
  .faq-main .detail {
    text-align: center;
    width: 100%;
  }
  .detail:nth-child(2) {
    text-align: left;
  }
  .faq-question {
    gap: 10px;
  }
}

/*----- CTA section ---*/
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 112px 0;
  gap: 40px;
}

.cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.cta .content-title {
  display: inline;
  font-size: 96px;
}

@media (max-width: 768px) {
  .cta .content-title {
    font-size: 48px;
  }
}

.cta .black-button {
  width: 140px;
  height: 45px;
  margin: auto;
  color: white;
}

/*----- footer ---*/
footer {
  padding: 64px 0;
}
footer .card {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  border-radius: 48px;
  background: rgb(29, 30, 28);
  color: rgb(255, 255, 255);
  padding: 48px;
  margin-bottom: 25px;
}
footer .card-left {
  max-width: 500px;
}
footer .card-left div {
  font-size: 14px;
  font-weight: 400;
  margin: 24px 0;
}
footer .card-left .white-button {
  width: 108px;
  height: 45px;
}
footer .card-input {
  display: flex;
  max-width: 500px;
  gap: 24px;
}
footer #footer-card-email {
  background-color: rgb(29, 30, 28);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 12px;
  width: 70%;
  border-width: 0 0 1px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
footer #footer-card-email:focus {
  outline: none;
}
footer .card-right {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}
footer .card-menu div {
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  margin-bottom: 12px;
}
.card-menu ul {
  list-style: none;
  padding: 0;
}
.card-menu ul li {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  margin: 4px 0;
}
.card-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.footer-bottom ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
.footer-bottom ul li a {
  color: rgb(29, 30, 28);
}
@media (max-width: 780px) {
  footer {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
  }
  footer .card {
    flex-direction: column;
  }
  footer .card-input {
    display: block;
  }
  footer .card-left .white-button {
    margin-top: 24px;
  }
  footer .card-right {
    justify-content: center;
    flex-direction: column;
    gap: 24px;
  }
  footer .card-menu:first-child {
    margin-top: 40px;
  }
  footer .footer-bottom {
    display: block;
  }
  .footer-bottom ul {
    padding: 0;
    gap: 20px;
    justify-content: space-around;
  }
}

/*----- Blog section -----*/
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 112px;
  gap: 80px;
}

.blog-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.chronicles {
  display: flex;
  gap: 32px;
  justify-content: space-around;
}

.chr-itemes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.chr-itemes img {
  width: 416px;
  height: 300px;
  border-radius: 24px;
}

.chr-itemes .preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.chr-itemes .description {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chronicles .title {
  text-align: left;
}

.description .cate {
  display: inline-block;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
}

.description .read-min {
  font-size: 14px;
  font-weight: bold;
}

.blog .white-button {
  width: 94px;
  height: 45px;
}

.preview .read-more {
  font-size: 14px;
}

@media (max-width: 768px) {
  .blog {
    margin-bottom: 64px;
  }
  .blog .content-title {
    font-size: 24px;
  }

  .chr-itemes img {
    width: 95vw;
  }

  .chronicles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
  }
  .blog .white-button {
    margin-top: -56px;
  }
}
