body {
  /* 요소에 최대 길이를 주고, margin:0 auto를 주면,
  maring 좌우가 auto로 적용되며
  가운데 정렬이 된다.
   */
  max-width: 1228px;
  margin: 0 auto;
  padding: 0 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
}
.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10%;
  margin: 1em 0.3em 1em 3em;
}
.nav-menu a {
  color: rgb(29, 30, 28);
  font-size: 14px;
  text-decoration: none;
  margin: 0 0.4em;
}
.nav-menu button {
  width: 85px;
  height: 45px;
}

.white-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;
  display: inline-block;
}
.black-button {
  border: 1px solid rgb(29, 30, 28);
  background-color: rgb(29, 30, 28);
  color: rgb(255, 255, 255);
  border-radius: 42px;
  display: inline-block;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 112px 0;
}
.header-title {
  font-size: 96px;
}
.TextRoundImg {
  position: absolute;
  z-index: -2;
}
.header-text {
  width: 480px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 32px;
}
@media (max-width: 1300px) {
  .round-text {
    display: block;
  }
}
header .black-button {
  margin-top: 60px;
  width: 143px;
  height: 45px;
  font-size: 14px;
  font-weight: 100;
}

.social-proof li {
  list-style-type: none;
}

section {
  text-align: center;
}

.small-title {
  font-size: 12px;
}

.content-title {
  font-weight: bold;
  font-size: 48px;
}

.button-img {
  /* Rectangle 1 */
  position: static;
  width: 180px;
  height: 58px;
  /* Inside Auto Layout */
  margin: 0px 16px;
  border-radius: 48px;
  vertical-align: middle;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.content {
  font-size: 14px;
}

/*----- social proof section -----*/

.logo-img {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.logo-img li {
  margin: auto;
  text-align: center;
}

/*----- features section -----*/
.features {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages img {
  size: 48px;
}

.adv-itemes div {
  margin-bottom: 20px;
}

.adv-itemes {
  width: 30%;
}
